<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables></sb-layout-dashboard> -->


<app-dashboard-layout>
    <sb-dashboard-head title="Ana Sayfa" [hideBreadcrumbs]="false">

    </sb-dashboard-head>
    <p *ngIf="role == 'Employee'"><b>Kullanıcı İşlemler</b></p>
    <sb-dashboard-cards *ngIf="role == 'Employee'">

    </sb-dashboard-cards>
    <!-- <hr> -->
    <p *ngIf="role == 'Admin'"><b>Admin İşlemler</b></p>
    <app-admin-dashboard-cards *ngIf="role == 'Admin'">

    </app-admin-dashboard-cards>
    <!-- <hr> -->
    <p *ngIf="role == 'Company'"><b>Firma İşlemler</b></p>
    <app-company-dashboard-cards *ngIf="role == 'Company'">

    </app-company-dashboard-cards>

</app-dashboard-layout>

