<h1>Fatura Oluşturma Sayfa Başlığı</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam labore sint maxime nobis sapiente, natus velit quam ea soluta aliquid in nemo, minus magni temporibus inventore impedit dolorum facilis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam labore sint maxime nobis sapiente, natus velit quam ea soluta aliquid in nemo, minus magni temporibus inventore impedit dolorum facilis.</p>
<hr>
<h3><b>Yeni Fatura Oluştur</b></h3>
<hr>
<form>
    <div class="mb-3">
        <label for="faturaAd" class="form-label">Fatura Adı</label>
        <input #faturaAd type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="tutar" class="form-label">Fatura Tutar:</label>
        <input #tutar type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="topkdv" class="form-label">Toplam KDV</label>
        <input #topkdv type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="sontarih" class="form-label">Son Ödeme Tarihi</label>
        <input #sontarih type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="icerik" class="form-label">Fatura İçeriği</label>
        <input #icerik type="text" class="form-control">
    </div>

    <button class="btn btn-warning" (click)="faturaOlustur(faturaAd, tutar, topkdv, sontarih, icerik)">Fatura Oluştur</button>
</form>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam labore sint maxime nobis sapiente, natus velit quam ea soluta aliquid in nemo, minus magni temporibus inventore impedit dolorum facilis.</p>
