
<sb-layout-dashboard [static]="true"
><sb-dashboard-head title="Tüm Firmalar" [hideBreadcrumbs]="false"></sb-dashboard-head>



<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <select class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Firma Tipi
            <option class="dropdown-item">Hepsi</option>
            <option class="dropdown-item">Elektrik</option>
            <option class="dropdown-item">Su</option>
            <option class="dropdown-item">Doğalgaz</option>
            <option class="dropdown-item">İnternet</option>
            <option class="dropdown-item">Mobil</option>
            <option class="dropdown-item">Tv Yayın</option>
        </select>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
        <button class="btn btn-outline-primary my-2 ml-2 my-sm-0" routerLink="../yenifirma" type="submit">Yeni Ekle</button>
      </form>
    </div>
  </nav>


  <form>
    <div style="display: none;" class="form-group form-inline">Ara:<input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" ><span>Firma Adı</span></th>
                <th scope="col" ><span>Firma Kategori</span></th>
                <th scope="col"><span>Firma Kodu</span></th>
                <th scope="col"><span>Düzenle</span></th>
                <th scope="col"><span>Sil</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of result">
                <th>{{ country.id }}</th>
                <td>{{ country.name }}</td>
                <td>{{ country.category}}</td>
                <td>{{ country.companyCode}}</td>
                <td>
                  <button class="btn btn-warning" routerLink="../firmadetay/{{country.id}}"> Düzenle</button></td>
                <td>
                  <button class="btn btn-danger" (click)="deleteCompany(country.id)"><i class="fa fa-trash"></i> Sil</button>
                </td>
            </tr>
        </tbody>
    </table>

</form>


  <div style="display: none;" *ngIf="!searchActive else searcTable">
    <table border="4" *ngIf="result.length != 0 else no_data">
      <td><b>#</b></td>
      <td><b>Firma Adı</b></td>
      <td><b>Firma Kategori</b></td>
      <td><b>Firma Kodu</b></td>
      <td><b>Düzenle</b></td>
      <td><b>Sil</b></td>
      <tr *ngFor="let deger of result">
          <td><b>{{deger.id}}</b></td>
          <td>{{deger.name}}</td>
          <td>{{deger.category}}</td>
          <td>{{deger.companyCode}}</td>
          <td><button class="btn btn-warning" routerLink="../firmadetay/{{deger.id}}"> Düzenle</button></td>
          <td><button class="btn btn-danger" (click)="deleteCompany(deger.id)"><i class="fa fa-trash"></i> Sil</button></td>
      </tr>
    </table>
    </div>
    
    <ng-template #searcTable>
    <div>
      <p>Arama Sonuçları</p>
    <table border="4" *ngIf="result.length != 0 else no_data">
      <td><b>#</b></td>
      <td><b>Fatura Adı</b></td>
      <td><b>Fatura Tutar</b></td>
      <td><b>Toplam Kdv</b></td>
      <td><b>Düzenle</b></td>
      <td><b>Sil</b></td>
      <tr *ngFor="let deger of result">
          <td><b>{{deger.id}}</b></td>
          <td>{{deger.name}}</td>
          <td>{{deger.category}}</td>
          <td>{{deger.companyCode}}</td>
          <td><button class="btn btn-warning"> Düzenle</button></td>
          <td><button class="btn btn-danger" (click)="deleteCompany(deger.id)"><i class="fa fa-trash"></i> Sil</button></td>
      </tr>
    </table>
    </div>
    </ng-template>



</sb-layout-dashboard>



<ng-template #no_data>
  <div class="alert alert-warning">
      Veri Bulunamadı!
  </div>
</ng-template>