<sb-layout-dashboard [static]="true">
  <sb-dashboard-head title="Yeni Kredi Kartı Oluştur" [hideBreadcrumbs]="false">
  </sb-dashboard-head>

  <form>
    <div class="col col-md-6">
      <label for="CardNumber" class="form-label">Kart Numarası:</label>
      <input #CardNumber type="text" class="form-control" />
    </div>
    <div class="col col-md-6">
        <label for="ExpMonth" class="form-label">Son Kullanım Ayı:</label>
        <select #ExpMonth class="form-select form-control form-control-sm">
          <option *ngFor="let tip of aylar" [value]="tip.id">
            {{ tip.name }}
          </option>
        </select>
      </div>
      <div class="col col-md-6">
        <label for="ExpYear" class="form-label">Son Kullanım Yılı:</label>
        <select #ExpYear class="form-select form-control form-control-sm">
          <option *ngFor="let tip of faturaTip" [value]="tip.id">
            {{ tip.name }}
          </option>
        </select>
      </div>
    <div class="col col-md-6">
        <label for="cvc2" class="form-label">CVC2:</label>
        <input #cvc2 type="text" class="form-control" />
    </div>
    <div class="col col-md-6">
        <label for="CreditCardType" class="form-label">Kart Tipi:</label>
        <select #CreditCardType class="form-select form-control form-control-sm">
          <option *ngFor="let tip of faturaTip" [value]="tip.id">
            {{ tip.name }}
          </option>
        </select>
    </div>



    <div class="col col-md-6 mt-3">
      <button
        class="btn btn-primary"
        (click)="createCreditCard(CardNumber, ExpMonth, ExpYear, cvc2, CreditCardType)"
      >
        Kart Oluştur
      </button>
    </div>
  </form>
</sb-layout-dashboard>

<ng-template #no_data>
  <div class="alert alert-warning">Veri Bulunamadı!</div>
</ng-template>
