
<sb-layout-dashboard [static]="true">
<sb-dashboard-head title="Fatura Düzenle" [hideBreadcrumbs]="false">

</sb-dashboard-head>

<form *ngIf="fatura else no_data">
    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Fatura Adı:</label>
        <input #faturaAd type="text" class="form-control" [value]="fatura?.name">
    </div>
    <div class="col col-md-6">
        <label for="tutar" class="form-label">Fatura Tutar:</label>
        <input #tutar type="text" class="form-control" [value]="fatura?.tutar">
    </div>
    <div class="col col-md-6">
        <label for="topkdv" class="form-label">Toplam KDV:</label>
        <input #topkdv type="text" class="form-control" [value]="fatura?.kdvsizTutar">
    </div>
    <!-- <div class="col col-md-6">
        <label for="sontarih" class="form-label">Son Ödeme Tarihi:</label>
        <input #sontarih type="text" class="form-control" [value]="fatura?.name">
    </div> -->

    <div class="col col-md-6">
        <label for="categoryId" class="form-label">Fatura Tipi:</label>
        <select #categoryId [ngModel]="selectedDevice" class="form-select form-control form-control-sm" (ngModelChange)="onChange($event)" name="sel2">
            <option *ngFor="let tip of faturaTip" [value]="tip.id">{{tip.name}}</option>
        </select>
    </div>
<!-- 
    <div class="col col-md-6">
        <label for="icerik" class="form-label">Fatura İçeriği:</label>
        <input #icerik type="text" class="form-control">
    </div> -->

    <div class="col col-md-6 mt-3">
        <button class="btn btn-warning">Faturayı Düzenle</button>
    </div>
</form>


</sb-layout-dashboard>

<ng-template #no_data>
    <div class="alert alert-warning">
        Veri Bulunamadı!
    </div>
</ng-template>