<sb-layout-dashboard [static]="true">
  <sb-dashboard-head title="Fatura Hareketleri" [hideBreadcrumbs]="false">
  </sb-dashboard-head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <select
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Fatura Tipi
            <option class="dropdown-item">Hepsi</option>
            <option class="dropdown-item">Elektrik</option>
            <option class="dropdown-item">Su</option>
            <option class="dropdown-item">Doğalgaz</option>
            <option class="dropdown-item">İnternet</option>
            <option class="dropdown-item">Mobil</option>
            <option class="dropdown-item">Tv Yayın</option>
          </select>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Ara"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Ara
        </button>
      </form>
    </div>
  </nav>


  <form>
    <div style="display: none;" class="form-group form-inline">Ara:<input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" ><span>UserId</span></th>
                <th scope="col" ><span>FaturaId</span></th>
                <th scope="col"><span>FirmaId</span></th>
                <th scope="col"><span>Tarih</span></th>
                <th scope="col"><span>DurumKodu</span></th>
                <!-- <th scope="col"><span>Kullanıcı</span></th>
                <th scope="col"><span>Fatura</span></th>
                <th scope="col"><span>Şirket</span></th> -->
                <th scope="col"><span>Detaylar</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of result">
                <th>{{ country.userId }}</th>
                <th>{{ country.userId }}</th>
                <td>{{ country.invoiceId }}</td>
                <td>{{ country.companyId}}</td>
                <td>{{ country.transactionDate}}</td>
                <td>{{ country.statusCode}}</td>
                <!-- <td>{{ country.statusCode}}</td>
                <td>{{ country.statusCode}}</td>
                <td>{{ country.statusCode}}</td> -->
                <td>
                  <button class="btn btn-primary" (click)="openDetails(content, country)">
                    <i class="fa fa-trash"></i> Detay Görüntüle
                  </button>
                </td>
            </tr>
        </tbody>
    </table>

</form>




  <div style="display: none;">
    <table border="4" *ngIf="result.length != 0; else no_data">
      <td><b>#</b></td>
      <td><b>UserId</b></td>
      <td><b>FaturaId</b></td>
      <td><b>FirmaId</b></td>
      <td><b>Tarih</b></td>
      <td><b>DurumKodu</b></td>
      <td><b>Kullanıcı</b></td>
      <td><b>Fatura</b></td>
      <td><b>Şirket</b></td>
      <td><b>Detaylar</b></td>
      <tr *ngFor="let deger of result">
        <td>
          <b>{{ deger.id }}</b>
        </td>
        <td>{{ deger.userId }}</td>
        <td>{{ deger.invoiceId }}</td>
        <td>{{ deger.companyId }}</td>
        <td>{{ deger.transactionDate }}</td>
        <td>{{ deger.statusCode }}</td>
        <td>{{ deger.statusCode }}</td>
        <td>{{ deger.statusCode }}</td>
        <td>{{ deger.statusCode }}</td>
        <td>
          <button class="btn btn-primary" (click)="openDetails(content, deger)">
            <i class="fa fa-trash"></i> Detay Görüntüle
          </button>
        </td>
      </tr>
    </table>
  </div>
</sb-layout-dashboard>

<ng-template #no_data>
  <div class="alert alert-warning">Veri Bulunamadı!</div>
</ng-template>

<!-- Modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fatura Hareket Detayları</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="mb-3">
          <label for="invoiceId" class="form-label">Fatura Id:</label>
          <input
            disabled
            #invoiceId
            id="invoiceId"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="userId" class="form-label">Kullanıcı Id:</label>
          <input
            disabled
            #userId
            id="userId"
            type="number"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="companyId" class="form-label">Şirket Id:</label>
          <input
            disabled
            #companyId
            id="companyId"
            type="text"
            class="form-control"
          />
        </div>

        <label for="dateOfBirth">İşlem Tarihi:</label>
        <div class="input-group">
          <input
            disabled
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div>

        <div class="mb-3">
          <label for="statusCode" class="form-label">Durum Kodu:</label>
          <input
            disabled
            #statusCode
            id="statusCode"
            [ngModel]="selectedStatusCode"
            (ngModelChange)="onChangeStatusCode($event)"
            type="text"
            class="form-control"
            value="selectedStatusCode"
            name="statuscodename"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Geri
    </button>
  </div>
</ng-template>
