<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/firmafaturalar" background="bg-success"><div class="card-body">Tüm Faturaları Görüntüle</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/yenifatura" background="bg-primary"><div class="card-body">Fatura Oluştur</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturalar" background="bg-warning"><div class="card-body">Fatura Düzenle</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturalar" background="bg-danger"><div class="card-body">Fatura Sil</div></sb-card-view-details>
    </div>
</div>