<span [ngClass]='{"sb-nav-fixed": !static}'
    ><app-topbar></app-topbar>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav"><app-sidebar [sidenavStyle]="sidenavStyle" [sideNavItems]="sideNavItems" [sideNavSections]="sideNavSections"></app-sidebar></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid"><ng-content></ng-content></div>
            </main>
            <app-fatura-listele></app-fatura-listele>
            <app-fatura-olustur></app-fatura-olustur>
            <app-footer></app-footer>
        </div></div
></span>
