
<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Hesap Bilgilerim" [hideBreadcrumbs]="false">
    
    </sb-dashboard-head>
    

    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">TC Kimlik No:</label>
        <input #faturaAd type="text" class="form-control" value="11122233344" disabled>
    </div>

    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Iban Numarası:</label>
        <input #faturaAd type="text" class="form-control" value="TR330006100519786457841326" disabled>
    </div>

    
    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Telefon Numarası:</label>
        <input #faturaAd type="text" class="form-control" value="05300000000" disabled>
    </div>
    
    <div class="col col-md-6 mt-3"> 
        <button class="btn btn-primary">Bilgileri Güncelle</button>
    </div>

    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <select class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Firma Tipi
              <option class="dropdown-item">Hepsi</option>
          </select>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
          <button class="btn btn-outline-primary my-2 ml-2 my-sm-0" routerLink="../yenikart" type="submit">Yeni Ekle</button>
        </form>
      </div>
      </nav>

    <p>Kayıtlı Kredi Kartlarım</p>
    
    <form>
      <div style="display: none;" class="form-group form-inline">Ara:<input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col" ><span>Kart Numarası</span></th>
                  <th scope="col" ><span>Son Kullanım Ayı</span></th>
                  <th scope="col"><span>Son Kullanım Yılı</span></th>
                  <th scope="col"><span>CVC2</span></th>
                  <th scope="col"><span>Bakiye</span></th>
                  <th scope="col"><span>Oluşturulma Tarihi</span></th>
                  <th scope="col"><span>Düzenle</span></th>
                  <th scope="col"><span>Sil</span></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let country of result">
                  <th>{{ country.id }}</th>
                  <td>{{ country.cardNumber }}</td>
                  <td>{{ country.expMonth}}</td>
                  <td>{{ country.expYear}}</td>
                  <td>{{ country.cvC2}}</td>
                  <td>{{ country.balance}}</td>
                  <td>{{ country.createdAt}}</td>
                  <td>
                    <button class="btn btn-warning" routerLink="../kartdetay/{{country.id}}"> Düzenle</button></td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteCreditCard(country.id)"><i class="fa fa-trash"></i> Sil</button>
                  </td>
              </tr>
          </tbody>
      </table>
  
  </form>

    <!-- !searchActive else searcTable && *ngIf="userIdValue == deger.userId" -->
    <div style="display: none;" *ngIf="!searchActive && userIdValue == responseUserId else searcTable">
        <table border="4" *ngIf="result.length != 0 else no_data">
          <td><b>#</b></td>
          <td><b>Kart Numarası</b></td>
          <td><b>Son Kullanım Ayı</b></td>
          <td><b>Son Kullanım Yılı</b></td>
          <td><b>CVC2</b></td>
          <td><b>Bakiye</b></td>
          <td><b>Oluşturulma Tarihi</b></td>
          <td><b>Düzenle</b></td>
          <td><b>Sil</b></td>
          <tr *ngFor="let deger of result">
              <td><b>{{deger.id}}</b></td>
              <td>{{deger.cardNumber}}</td>
              <td>{{deger.expMonth}}</td>
              <td>{{deger.expYear}}</td>
              <td>{{deger.cvC2}}</td>
              <td>{{deger.balance}}</td>
              <td>{{deger.createdAt}}</td>
              <td><button class="btn btn-warning" routerLink="../kartdetay/{{deger.id}}"> Düzenle</button></td>
              <td><button class="btn btn-danger" (click)="deleteCreditCard(deger.id)"><i class="fa fa-trash"></i> Sil</button></td>
            </tr>
        </table>
        </div>
    <!-- && userIdValue == responseUserId -->
    <ng-template #searcTable>
        <div style="display: none;">
        <p>Arama Sonuçları</p>
        <table border="4" *ngIf="result.length != 0 else no_data">
          <td><b>#</b></td>
          <td><b>Kart Numarası</b></td>
          <td><b>Son Kullanım Ayı</b></td>
          <td><b>Son Kullanım Yılı</b></td>
          <td><b>CVC2</b></td>
          <td><b>Bakiye</b></td>
          <td><b>Oluşturulma Tarihi</b></td>
          <td><b>Düzenle</b></td>
          <td><b>Sil</b></td>
          <tr *ngFor="let deger of result">
              <td><b>{{deger.id}}</b></td>
              <td>{{deger.cardNumber}}</td>
              <td>{{deger.expMonth}}</td>
              <td>{{deger.expYear}}</td>
              <td>{{deger.cvC2}}</td>
              <td>{{deger.balance}}</td>
              <td>{{deger.createdAt}}</td>
              <td><button class="btn btn-warning" routerLink="../kartdetay/{{deger.id}}"> Düzenle</button></td>
              <td><button class="btn btn-danger" (click)="deleteCreditCard(deger.id)"><i class="fa fa-trash"></i> Sil</button></td>
            </tr>
        </table>
        </div>
        </ng-template>

    </sb-layout-dashboard>
    
    <ng-template #no_data>
        <div class="alert alert-warning">Veri Bulunamadı!</div>
    </ng-template>