<sb-layout-dashboard [static]="true"
  ><sb-dashboard-head
    title="Firma Tüm Faturalar"
    [hideBreadcrumbs]="false"
  ></sb-dashboard-head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <select
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Fatura Tipi
            <option class="dropdown-item">Hepsi</option>
            <option class="dropdown-item">Elektrik</option>
            <option class="dropdown-item">Su</option>
            <option class="dropdown-item">Doğalgaz</option>
            <option class="dropdown-item">İnternet</option>
            <option class="dropdown-item">Mobil</option>
            <option class="dropdown-item">Tv Yayın</option>
          </select>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Ara"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Ara
        </button>
        <button
          class="btn btn-outline-primary my-2 ml-2 my-sm-0"
          routerLink="../yenifatura"
          type="submit"
        >
          Yeni Ekle
        </button>
      </form>
    </div>
  </nav>

  <form>
    <div style="display: none;" class="form-group form-inline">Ara:<input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" ><span>Fatura Adı</span></th>
                <th scope="col" ><span>Fatura Tutar</span></th>
                <th scope="col"><span>Son Ödeme Tarihi</span></th>
                <th scope="col"><span>Ödenme Bilgisi</span></th>
                <th scope="col"><span>Düzenle</span></th>
                <th scope="col"><span>Detaylar</span></th>
                <th scope="col"><span>Hareketler</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of result">
                <th>{{ country.invoiceId }}</th>
                <td>{{ country.name }}</td>
                <td>{{ country.excludingVat}}</td>
                <td>{{ country.dueDate}}</td>
                <td>{{ country.statusCode}}</td>
                <td>
                  <button
                    class="btn btn-warning"
                    routerLink="../faturadetay/{{ country.invoiceId }}"
                  >
                    Düzenle
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="openDetails(content, country)">
                    <i class="fa fa-trash"></i> Detay Görüntüle
                  </button>
                </td>
                <td>
                  <button class="btn btn-success" routerLink="../faturahareket/{{country.invoiceId}}"><i class="fa fa-trash"></i> Hareketler</button>
                </td>
            </tr>
        </tbody>
    </table>

</form>


  <div style="display: none;" *ngIf="!searchActive; else searcTable">
    <table border="4" *ngIf="result.length != 0; else no_data">
      <td><b>#</b></td>
      <td><b>Fatura Adı</b></td>
      <td><b>Fatura Tutar</b></td>
      <!-- <td><b>Toplam Kdv</b></td>
        <td><b>Kdv'siz Fiyat</b></td>
        <td><b>Kategori</b></td> -->
      <td><b>Son Ödeme Tarihi</b></td>
      <!-- <td><b>Fatura İçeriği</b></td> -->
      <td><b>Ödenme Bilgisi</b></td>
      <td><b>Hareketler</b></td>
      <td><b>Detaylar</b></td>
      <td><b>Düzenle</b></td>
      <td><b>Sil</b></td>
      <tr *ngFor="let deger of result">
        <td>
          <b>{{ deger.invoiceId }}</b>
        </td>
        <td>{{ deger.name }}</td>
        <td>{{ deger.total }}</td>
        <!-- <td>{{deger.totalVat}}</td>
            <td>{{deger.excludingVat}}</td>
            <td ng-model="a as variable deger.invoiceType">{{ faturaTip[1].name }}</td> -->
        <td>{{ deger.dueDate }}</td>
        <!-- <td ng-model="a as variable deger.isComplete" (ngModelChange)="onChangeStatusCode($event)">{{ odemeBilgisi[1].name}}</td> -->
        <td>{{ deger.statusCode }}</td>
        <td>
          <button
            class="btn btn-success"
            routerLink="../faturahareket/{{ deger.invoiceId }}"
          >
            <i class="fa fa-trash"></i> Hareketler
          </button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="openDetails(content, deger)">
            <i class="fa fa-trash"></i> Detay Görüntüle
          </button>
        </td>
        <td>
          <button
            class="btn btn-warning"
            routerLink="../faturadetay/{{ deger.invoiceId }}"
          >
            Düzenle
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteInvoice(deger.invoiceId)"
          >
            <i class="fa fa-trash"></i> Sil
          </button>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #searcTable>
    <div>
      <p>Arama Sonuçları</p>
      <table border="4" *ngIf="result.length != 0; else no_data">
        <td><b>#</b></td>
        <td><b>Fatura Adı</b></td>
        <td><b>Fatura Tutar</b></td>
        <td><b>Toplam Kdv</b></td>
        <td><b>Kdv'siz Fiyat</b></td>
        <td><b>Kategori</b></td>
        <td><b>Son Ödeme Tarihi</b></td>
        <td><b>Fatura İçeriği</b></td>
        <td><b>Ödenme Bilgisi</b></td>
        <td><b>Hareketler</b></td>
        <td><b>Detaylar</b></td>
        <td><b>Düzenle</b></td>
        <td><b>Sil</b></td>
        <tr *ngFor="let deger of result">
          <td>
            <b>{{ deger.invoiceId }}</b>
          </td>
          <td>{{ deger.name }}</td>
          <td>{{ deger.total }}</td>
          <td>{{ deger.totalVat }}</td>
          <td>{{ deger.excludingVat }}</td>
          <td ng-model="a as variable deger.invoiceType">
            {{ faturaTip[1].name }}
          </td>
          <td>{{ deger.dueDate }}</td>
          <td>{{ deger.isComplete }}</td>
          <td>{{ deger.statusCode }}</td>
          <td>
            <button class="btn btn-success">
              <i class="fa fa-trash"></i> Hareketler
            </button>
          </td>
          <td>
            <button class="btn btn-primary">
              <i class="fa fa-trash"></i> Detay Görüntüle
            </button>
          </td>
          <td><button class="btn btn-warning">Düzenle</button></td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteInvoice(deger.invoiceId)"
            >
              <i class="fa fa-trash"></i> Sil
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</sb-layout-dashboard>

<ng-template #no_data>
  <div class="alert alert-warning">Veri Bulunamadı!</div>
</ng-template>

<!-- Modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fatura Detayları</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="mb-3">
          <label for="name" class="form-label">Fatura Adı:</label>
          <input disabled #name id="name" type="text" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="tutar" class="form-label">Fatura Tutar:</label>
          <input
            disabled
            #tutar
            id="total"
            type="number"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="kdvsizTutar" class="form-label">Toplam KDV:</label>
          <input
            disabled
            #kdvsizTutar
            id="totalVat"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="excludingVat" class="form-label">KDV'siz Tutar:</label>
          <input
            disabled
            #excludingVat
            id="excludingVat"
            type="text"
            class="form-control"
          />
        </div>

        <!-- <div class="mb-3">
          <label for="invoiceType" class="form-label">Kategori:</label>
          <input disabled #invoiceType id="invoiceType" type="text" class="form-control" (ngModelChange)="onChangeStatusCode($event)" />
        </div> -->

        <div class="mb-3">
          <label for="invoiceType" class="form-label">Kategori:</label>
          <input
            disabled
            #invoiceType
            [ngModel]="selectedCategory"
            name="name123"
            id="invoiceType"
            (ngModelChange)="onChangeStatusCode($event)"
            type="text"
            class="form-control"
            value="selectedCategory"
          />
        </div>

        <div class="mb-3">
          <label for="invoiceType" class="form-label">Firma:</label>
          <input
            disabled
            #invoiceType
            [ngModel]="selectedCompany"
            name="name1243"
            id="companyType"
            (ngModelChange)="onChangeCompany($event)"
            type="text"
            class="form-control"
            value="selectedCompany"
          />
        </div>

        <!-- <div class="mb-3">
          <label for="invoiceType" class="form-label">Fatura Tipi:</label>
          <select disabled #invoiceType [ngModel]="selectedCompany" class="form-select" name="isim2">
            <option *ngFor="let tip of faturaTip" id="invoiceType" (ngModelChange)="onChangeStatusCode($event)" [value]="invoiceType">{{tip.name}}</option>
          </select>
        </div>

        <div class="col col-md-6">
          <label for="invoiceType2" class="form-label">Fatura Tipi:</label>
          <select #invoiceType2 [ngModel]="selectedCompany" class="form-select form-control form-control-sm"
            id="invoiceType2" name="invoiceType2">
            <option selected *ngFor="let tip of faturaTip" (ngModelChange)="onChangeStatusCode($event)" id="invoiceType2" [value]="tip.id">
              {{ tip.name }}
            </option>
          </select>
        </div> -->

        <!-- <div class="mb-3">
          <label for="dueDate" class="form-label">Son Ödeme Tarihi:</label>
          <input disabled #dueDate id="dueDate" type="text" class="form-control" />
        </div> -->

        <label for="dateOfBirth">Son Ödeme Tarihi:</label>
        <div class="input-group">
          <input
            disabled
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div>

        <div class="mb-3">
          <label for="isComplete" class="form-label">Ödenme Durumu:</label>
          <input
            disabled
            #isComplete
            id="isComplete"
            [ngModel]="selectedPaymentStatus"
            (ngModelChange)="onChangePaymentStatus($event)"
            type="text"
            class="form-control"
            value="selectedPaymentStatus"
            name="paymentstatusname"
          />
        </div>

        <div class="mb-3">
          <label for="statusCode" class="form-label"
            >Ödenme Bilgisi(Durum Kodu):</label
          >
          <input
            disabled
            #statusCode
            id="statusCode"
            [ngModel]="selectedStatusCode"
            (ngModelChange)="onChangeStatusCode($event)"
            type="text"
            class="form-control"
            value="selectedStatusCode"
            name="statuscodename"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Geri
    </button>
  </div>
</ng-template>
