<sb-layout-dashboard [static]="true"
  ><sb-dashboard-head
    title="Tüm Kullanıcılar"
    [hideBreadcrumbs]="false"
  ></sb-dashboard-head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <select
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Kullanıcı Tipi
            <option class="dropdown-item">Hepsi</option>
            <option class="dropdown-item">Normal</option>
            <option class="dropdown-item">Admin</option>
            <option class="dropdown-item">Süper Admin</option>
          </select>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Ara"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Ara
        </button>
        <button
          class="btn btn-outline-primary my-2 ml-2 my-sm-0"
          routerLink="../yenikullanici"
          type="submit"
        >
          Yeni Ekle
        </button>
      </form>
    </div>
  </nav>

  <div *ngIf="!searchActive; else searcTable">
    <table border="4" *ngIf="result.length != 0; else no_data">
      <td><b>#</b></td>
      <td><b>Kullanıcı Adı</b></td>
      <td><b>Email</b></td>
      <td><b>Detaylar</b></td>
      <td><b>Yetki</b></td>
      <td><b>Düzenle</b></td>
      <td><b>Sil</b></td>
      <tr *ngFor="let deger of result; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ deger.userName }}</td>
        <td>{{ deger.email }}</td>
        <td>
          <button class="btn btn-primary" (click)="openDetails(content, deger)">
            <i class="fa fa-trash"></i> Detay Görüntüle
          </button>
        </td>
        
        <td>
          <button 
            class="btn btn-secondary"
            routerLink="../kullaniciyetki/{{ deger.id }}"
          >
            Yetki
          </button>
        </td>

        <td>
          <button disabled
            class="btn btn-warning"
            routerLink="../kullanicidetay/{{ deger.id }}"
          >
            Düzenle
          </button>
        </td>
        
        <td>
          <button class="btn btn-danger" (click)="deleteUser(deger.id)">
            <i class="fa fa-trash"></i> Sil
          </button>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #searcTable>
    <div>
      <p>Arama Sonuçları</p>
      <table border="4" *ngIf="result.length != 0; else no_data">
        <td><b>#</b></td>
        <td><b>Kullanıcı Adı</b></td>
        <td><b>Ad</b></td>
        <td><b>Soyad</b></td>
        <td><b>Yetki</b></td>
        <td><b>Tc</b></td>
        <td><b>Adres</b></td>
        <td><b>Telefon</b></td>
        <td><b>Mail</b></td>
        <td><b>Iban</b></td>
        <td><b>Oluşturulma Tarihi</b></td>
        <td><b>Düzenle</b></td>
        <td><b>Sil</b></td>
        <tr *ngFor="let deger of result">
          <td>
            <b>{{ deger.id }}</b>
          </td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td>{{ deger.userName }}</td>
          <td><button class="btn btn-warning">Düzenle</button></td>
          <td>
            <button class="btn btn-danger">
              <i class="fa fa-trash"></i> Sil
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</sb-layout-dashboard>

<ng-template #no_data>
  <div class="alert alert-warning">Veri Bulunamadı!</div>
</ng-template>

<!-- Modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Kullanıcı Bilgileri</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="mb-3">
          <label for="userId" class="form-label">Kullanıcı Id:</label>
          <input
            disabled
            #userId
            id="userId"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="userName" class="form-label">User Name:</label>
          <input
            disabled
            #userName
            id="userName"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-posta Adresi:</label>
          <input
            disabled
            #email
            id="email"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Telefon Numarası:</label>
          <input
            disabled
            #phoneNumber
            id="phoneNumber"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">Şehir Bilgisi:</label>
          <input
            disabled
            #city
            id="city"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="emailConfirmed" class="form-label">E-posta Adresi Doğrulanma Durumu:</label>
          <input
            disabled
            #emailConfirmed
            id="emailConfirmed"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="phoneConfirmed" class="form-label">Telefon Numarası Doğrulanma Durumu:</label>
          <input
            disabled
            #phoneConfirmed
            id="phoneConfirmed"
            type="text"
            class="form-control"
          />
        </div>
        
        <div class="mb-3">
          <label for="twoFactorEnabled" class="form-label">İki Faktörlü (Two Factor) Etkinleştirme Durumu:</label>
          <input
            disabled
            #twoFactorEnabled
            id="twoFactorEnabled"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="lockoutEnabled" class="form-label">Hesabın Kilitlenme Durumu:</label>
          <input
            disabled
            #lockoutEnabled
            id="lockoutEnabled"
            type="text"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="accessFailedCount" class="form-label">Başarısız Giriş Sayısı:</label>
          <input
            disabled
            #accessFailedCount
            id="accessFailedCount"
            type="text"
            class="form-control"
          />
        </div>

        <!-- <label for="dateOfBirth">İşlem Tarihi:</label>
        <div class="input-group">
          <input
            disabled
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div> -->

        
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Geri
    </button>
  </div>
</ng-template>