<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturalar" background="bg-info"><div class="card-body">Tüm Faturalar</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/firmalar" background="bg-dark"><div class="card-body">Tüm Firmalar</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/kullanicilar" background="bg-secondary"><div class="card-body">Tüm Kullanıcılar</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturalarim" background="bg-primary"><div class="card-body">Kayıtlı Faturalarım</div></sb-card-view-details>
    </div>
</div>