
<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Ayarlar" [hideBreadcrumbs]="false">
    
    </sb-dashboard-head>
    

    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Ad Soyad:</label>
        <input #faturaAd type="text" class="form-control" value="Muhammed Karadaş" disabled>
    </div>

    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Doğum Tarihi:</label>
        <input #faturaAd type="text" class="form-control" value="20/08/2021" disabled>
    </div>

    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">E-posta Adresi:</label>
        <input #faturaAd type="text" class="form-control" value="muhammedkaradastr@gmail.com" disabled>
    </div>
    
    <div class="col col-md-6">
        <label for="faturaAd" class="form-label">Telefon Numarası:</label>
        <input #faturaAd type="text" class="form-control" value="05300000000" disabled>
    </div>
    
    <div class="col col-md-6 mt-3"> 
        <button class="btn btn-primary">Bilgileri Güncelle</button>
    </div>


    </sb-layout-dashboard>
    
    