<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturaodeme" background="bg-primary"><div class="card-body">Fatura Öde</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Fatura Sorgula</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturahareketleri" background="bg-success"><div class="card-body">Geçmiş İşlemler</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/faturalarim" background="bg-danger"><div class="card-body">Kayıtlı Faturalarım</div></sb-card-view-details>
    </div>
</div>

<!-- <div class="row">
    <div class="col-xl-3 col-md-6">
    Primary Card
    </div>
    <div class="col-xl-3 col-md-6">
    Warning Card
    </div>
    <div class="col-xl-3 col-md-6">
        Success Card
    </div>
    <div class="col-xl-3 col-md-6">
        Danger Card
    </div>
</div>
 -->
